<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="./main.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
<div class="v8_82">
    <div class="v9_5">

    </div>
    <div class="v9_4">

    </div>
    <div class="v8_83">

    </div>
    <div class="v8_84">

    </div>
    <div class="v8_85">

    </div><div class="v8_86">

</div><div class="v8_87">

</div><span class="v8_88">Procurar</span>
    <span class="v13_2">Home</span><div class="v8_89">
    <div class="v8_90"></div><div class="v8_91"></div>
</div><div class="v8_102"><div class="v8_103"></div>
    <div class="v8_104"></div>
</div><div class="v8_105">
    <div class="v8_106"></div>
    <div class="v8_107"></div>
    <div class="v8_108"></div>
</div><div class="v4_45"></div>
    <div class="v4_46"></div>
    <div class="v6_3"></div>
    <div class="v6_5"></div>
    <div class="v6_6"></div>
    <span class="v4_50">Nome</span>
    <span class="v4_51">Pass</span>
    <span class="v4_52">Confirme Pass</span>
    <span class="v4_53">Email</span>
    <span class="v4_59">Sign In</span>
    <div class="v4_64"></div>
    <span class="v4_65">Voltar</span>
    <div class="v6_1"></div>
    <span class="v6_2">Confirmar</span>
    <div class="v8_128"><div class="v8_129">

    </div><div class="v8_130"></div>
        <div class="v8_131"></div>
    </div><div class="v8_132"><div class="v8_133">

</div></div><div class="v8_134"><div class="v8_135"></div></div></div></body></html>
