
/*BREADCRUMBS*/
.nav-wrapper{
	padding-left: 10%;
	padding-right: 10%;
	font-size:1vw;
}
.breadcrumb{
	text-decoration: none;
	color: darkgoldenrod;
	position: relative;
	font-family: Poppins, serif;
	font-weight: Normal;
	font-size: 0.976vw;
}

