
.navbar{
	/*position*/
	position: relative;
	width: 80%;
	height: 10%;
	padding-right: 10%;
	padding-left: 10%;
	/*font*/
	font-size: 1.302vw;
	opacity: 1;
	text-align: center;
}
.headerTable{
	height: 90%;
	width:100%;
}
.headerTableRow{
	height: 100%;
	width:100%;
}
.headerTableCol{
	width: 49%;
	height: 100%;
}
.headerTableCol2{
	width: 10%;
	height: 100%;
	text-align: center;
}
.headerTableCol3{
	width: 1%;
	height: 100%;
	text-align: center;
}

.logo {
	width: 25%;
	height: 50%;
	top:20%;
}

.home {
	display: block;
	text-align: center;
	text-decoration: none;
}
.home:hover {
	color: gold;
}
.home_disabled {
	display: block;
	color:gray;
	text-align: center;
	text-decoration: none;
}
.home_disabled:hover {
	cursor:not-allowed;
}

.horizontalBar {
	position: relative;
	bottom:0;
	border-top: 0.195vw solid black;

}
