
.main{
	/*background*/
	background: url("/images/home.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
.table{
	position:relative;
	height: 100%;
	width: 100%;
}
.tableButtons{
	overflow: hidden;
	color: rgba(0,0,0,1);
	position: relative;
	font-family: Poppins, serif;
	font-weight: Normal;
	font-size: 1.302vw;
	opacity: 1;
	text-align: center;
	width:60%;
}
.buttons{
	position: relative;
	text-align: left;
	width:40%;
	height:50%;
	font-family: Poppins, serif;
	font-weight: Normal;
	font-size: 1.302vw;
	opacity: 1;
	color: rgba(0,0,0,1);
}
.btn_input{
	overflow: hidden;
	position: relative;
	width: 70%;
	height: 20%;
	margin-top: 10%;
	color: rgba(0,0,0,1);
	font-family: Poppins, serif;
	font-weight: Normal;
	font-size: 1.302vw;
	opacity: 1;
	text-align: center;
	background: rgba(255,255,255,1);
	border: 0.195vw solid rgba(0,0,0,1);
	box-shadow: 0.260vw 0.260vw 0 rgba(0, 0, 0, 0.25);
}
.btn_input:hover{
	cursor:pointer;
	background: black;
	color: white;
}
.btn_input_disabled{
	overflow: hidden;
	position: relative;
	width: 70%;
	height: 20%;
	margin-top: 10%;
	color: white;
	font-family: Poppins, serif;
	font-weight: Normal;
	font-size: 1.302vw;
	opacity: 1;
	text-align: center;
}

.yellowCircle {
	width: 8.658vw;
	height: 8.658vw;
	background: rgba(255,239,96,1);
	opacity: 1;
	position: absolute;
	left: 21%;
	top: 18%;
	border-radius: 50%;

}


.tBemVindo {
	color: rgba(0,0,0,1);
	position: relative;
	top: 7.161vw;
	left: 50%;
	font-family: Poppins, serif;
	font-weight: Normal;
	font-size: 1.562vw;
	opacity: 1;
	text-align: center;
	width: 50%;
}
.barraVert {
	border-left: 0.195vw solid black;
	height: 100%;
	position: relative;
	left: 73%;
	top: -80%;
}

.tNovidades {
	width: 14.5%;
	height: 8%;
	top: -150% ;
	left: 75%;
	color: rgba(0,0,0,1);
	position: relative;
	font-family: Poppins, serif;
	font-weight: Normal;
	font-size: 0.911vw;
	opacity: 1;
	text-align: left;
}

.textos{
	width: 14.5%;
	height: 22%;
	top: 13%;
	left: 10%;
	color: rgba(0,0,0,1);
	position: relative;
	font-family: Poppins, serif;
	font-weight: Bold;
	font-size: 0.9765vw;
	opacity: 1;
	text-align: left;

}
.bar{
	width:15%;
}
.verticalBar {
	border-left: 0.195vw solid black;
	height: 100%;
	left: 100%;
	position: relative;
}

.news {
	width:100%;
	left:3%;
	color: rgba(0,0,0,1);
	position: relative;
	font-family: Poppins, serif;
	font-weight: Normal;
	font-size: 0.9114vw;
	opacity: 1;
	text-align: left;
	vertical-align: text-top;
}

