    .table{
        width:80%;
        position: relative;
        text-align: left;
        margin-top: 1%;
        margin-right: 10%;
        margin-left: 10%;
        font-family: Poppins, serif;
        font-weight: Normal;
        font-size: 0.911vw;
        opacity: 1;
        color: black;
        border: 0.130vw solid black;
        border-collapse: collapse;
        background: transparent;
        box-shadow: 0.260vw 0.260vw 0 rgba(0, 0, 0, 0.25);
    }

    .tableHead{
        color: white;
        background: black;
        height:10%;
        border-bottom: 0.130vw solid black;
    }
    .tableRow{
        height:10%;
    }
    .tableRow:hover{
        color: white;
        background: grey;
    }
    .tableCol{
        height: 100%;
        width: 30%;
        padding-top: 1%;
        padding-left: 5%;
        text-align: right;
        vertical-align: center;
    }
    .uploadForm{
        position: relative;
        width:60%;
        height:7%;
        margin-right: 20%;
        margin-left: 20%;
        text-align: right;
    }
    .uploadButton{
        height: 100%;
        width: 20%;
        font-size: 1.041vw;
        text-align: center;
        color: black;
        background: white;
        border: 0.130vw solid black;
        box-shadow: 0.260vw  0.260vw 0 rgba(0, 0, 0, 0.25);
    }
    .uploadButton:hover{
        color: white;
        background: black;
    }

