.row{
	padding: 2% 0;
	width: 80%;
	height: 15%;
	display: inline-flex;
}
.form{
	height:100%;
	width:100%;
}
.button{
	position: relative;
	width: 70%;
	height: 100%;
	background: white;
	font-size: 1.562vw;
	border:  0.195vw solid black;
	box-shadow: 0.260vw 0.260vw 0 #00000044;
}
button:hover{
	cursor:pointer;
	color:white;
	background: black;
}

